@font-face {
    font-family: "Montserrat";
    src:
        url("./styles/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
        url("./styles/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src:
        url("./styles/fonts/Roboto-ExtraBold.ttf") format("truetype"),
        url("./styles/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
:root {
    --color-primary: #fcfaf7;
    --color-primary-inverted: #c2d5d6;
    --color-secondary: #e49c30;
    --backgroundPrimary: #202430;
    --backgroundSecondary: #2d3441;
    --backgroundTertiary: #3a3f4e;
    --buttonPrimary: #d46f2c;
    --buttonSecondary: #e05b37;
}

.imageWrap {
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(13, 27, 42, 0.4);
}
header {
    display: none;
}

.navFooter {
    background-color: var(--backgroundPrimary);

    h1,
    p,
    svg {
        color: var(--color-primary);
    }

    p {
        &:hover {
            a,
            svg {
                color: var(--color-primary);
            }
        }
    }
}

body {
    font-family: "Montserrat";
    background-color: var(--backgroundPrimary);
    color: var(--color-primary);
}

.pageFonts {
    p {
        color: var(--color-primary);
    }
}

h1 {
    font-family: "Roboto";
}

main {
    background-color: var(--backgroundSecondary);
}
