@font-face {
    font-family: "Montserrat";
    src:
        url("./styles/fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype"),
        url("./styles/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primary: #fcfaf7;
    --color-primary-inverted: #c2d5d6;
    --color-secondary: #e49c30;
    --backgroundPrimary: #202430;
    --backgroundSecondary: #2d3441;
    --buttonPrimary: #d46f2c;
    --buttonSecondary: #e05b37;
}

.imageWrap {
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(13, 27, 42, 0.4);
}
header {
    display: none;
}

.navFooter {
    background-color: var(--backgroundPrimary);

    h1,
    p,
    svg {
        color: var(--color-primary);
    }

    p {
        &:hover {
            a,
            svg {
                color: var(--color-primary);
            }
        }
    }
}

body {
    font-family: "Montserrat";
    background-color: var(--backgroundPrimary);
    color: var(--color-primary);
}
.actionButtons {
    border-bottom: 1px solid var(--color-primary);

    a {
        color: var(--color-primary-inverted);
        background-color: var(--buttonPrimary);

        &:hover {
            background-color: var(--buttonSecondary);
        }
    }
}

.pageFonts {
    p {
        color: var(--color-primary);
        border-top: 1px solid var(--color-primary);
        border-bottom: 1px solid var(--color-primary);
        // background-color: rgb(227, 231, 235);
    }
}

main {
    background-color: var(--backgroundSecondary);
}
